@model IEnumerable<Prueba.Models.Product>
@{
    ViewData["Title"] = "Index";
}


<div class="ABMStock_Index">
  
    <div class="ABM_TitleContainer">
        <h1 class="ABM_Title">ABM</h1>

        <form action="@Url.Action("Logout", "Access")" method="post">
            <button type="submit" class="btn-logout" style="background-color: red; color: white; border: none; font-family: var(--INTER); font-size: 1rem; border-radius: 0.5rem; color: var(--WHITE);">Cerrar sesión</button>
        </form>


        <div class="ABM_Button"><a class="ABM_Create" asp-action="Create">Crear nuevo</a></div>
    </div>
    <table class="ABM_Table">
        <thead>
            <tr class="Table_Head">
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="Table_Image" >
                            <img src=@Html.DisplayFor(modelItem => item.Image)>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td class="ABM_Button_Table">
                        <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a> |
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
